# ========== OpenAI API 配置 ==========
OPEN_API_KEY=
OPENAI_BASE_URL=
MODEL_NAME=

# ========== Redis 配置 ==========
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=
REDIS_TIMEOUT=5
REDIS_CONNECT_TIMEOUT=5

# ========== 敏感词==========
SENSITIVE_WORDS=自己定义